# Google Analytics
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=G-MJP605Q6WY

# Site URL
NEXT_PUBLIC_SITE_URL=https://www.phototourl.com

# Analytics (optional)
# NEXT_PUBLIC_ANALYTICS_DOMAIN=
# NEXT_PUBLIC_ANALYTICS_SRC=

