/* MenuBar.module.css */
.logo {
  font-size: 20px; /* 或其他你希望的大小 */
  font-weight: bold; /* 使字体加粗 */
  /* 如果你有特定的字体，请使用 font-family 设置 */
  font-family: 'Helvetica Neue'; /* 例子 */
  /* 根据需要调整其他样式，如颜色、间距等 */
  color: #1ddaa1; /* 例子 */
  padding-right: 40%; /* 使用百分比来设置右边距 *//* 与菜单项的间隔 */
}

/* 调整其他相关样式以确保响应式和整体布局 */
.menuBar {
  display: flex;
  justify-content: flex-end; /* 确保内容靠右显示 */
  align-items: center;
  padding: 10px 20px;
}
.menuItems {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.menuToggle {
  display: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  .menuItems {
    display: none;
    flex-direction: column;
    width: 100%;
  }
  
  .menuOpen {
    display: flex;
  }

  .menuToggle {
    display: block;
  }
}
